async function apiRequest(
  action,
  payload = {},
  method = 'POST'
){

  try{

    showLoading();

    const token =
      localStorage.getItem(
        STORAGE_TOKEN
      );

    let response;

    if(method === 'GET'){

      const params =
        new URLSearchParams({

          action,

          token,

          ...payload

        });

      response =
        await fetch(
          `${API_URL}?${params}`
        );

    }else{

      response =
        await fetch(
          API_URL,
          {

            method:'POST',

            headers:{
              'Content-Type':
              'text/plain'
            },

            body:
            JSON.stringify({

              action,

              token,

              ...payload

            })

          }

        );

    }

    const result =
      await response.json();

    hideLoading();

    return result;

  }catch(err){

    hideLoading();

    console.error(
      err
    );

    return {

      success:false,

      message:
      'Server tidak dapat dihubungi'

    };

  }

}
